In [1]:
# https://www.youtube.com/watch?v=7wAQCwdvqqo&list=PLlbbWgBRF8EfO4WX13yEWlDUxkHsGPRdV&index=1&t=838s
import yfinance as yf
import imp
symbol = yf.Ticker("BTC-EUR") #symbol
info = symbol.info #info
a = imp.find_module("yfinance")
hist = symbol.history(period='max') #hist
institutional_holders = symbol.institutional_holders 
institutional_holders

                              0            1
0                    Market Cap      771.52B
1            Circulating Supply       18.80M
2                    Max Supply          NaN
3                        Volume  28126287872
4                 Volume (24hr)       28.13B
5  Volume (24hr) All Currencies       28.13B