# Pandas
[1 Pandas Tutorial](https://blog.quantinsti.com/python-pandas-tutorial/)

In [1]:
import pandas as pd
import pandas as pd
s = pd.Series([1, 2, 3, 4, 5, 6, 7])
print(s)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64

In [2]:
s = pd.Series(['a', 'b', 'c', 'd', 'e'])
print(s)

0    a
1    b
2    c
3    d
4    e
dtype: object

In [3]:
import numpy as np
s = pd.Series(np.random.randn(5))
print(s)

0   -0.220740
1   -0.719963
2    0.680081
3   -1.670544
4    1.726541
dtype: float64

In [4]:
s.index

RangeIndex(start=0, stop=5, step=1)

In [5]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
s

a   -0.445204
b   -1.941279
c   -0.299839
d    0.447498
e    0.164392
dtype: float64

In [6]:
import pandas as pd
dictionary = {'a' : 1, 'b' : 2, 'c' : 3, 'd': 4, 'e': 5}
s = pd.Series(dictionary)
print(s)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [7]:
dictionary = {'a' : 1, 'b' : 2, 'c' : 3, 'd': 4, 'e': 5}
s1 = pd.Series(dictionary)

array = [1, 2, 3, 4, 5]
s2 = pd.Series(array)
print(s1)
print(s2)

a    1
b    2
c    3
d    4
e    5
dtype: int64
0    1
1    2
2    3
3    4
4    5
dtype: int64

In [9]:
import pandas as pd
df=pd.DataFrame({'A' : np.random.randn(10), 'B' : np.random.randn(10), 'C' : np.random.randn(10)})
df

          A         B         C
0  0.320933 -0.735101  0.181812
1  0.229003 -0.663658  0.780000
2  0.291508  2.061989  0.806135
3 -1.580353  0.386422  0.769097
4  0.707954 -0.768207  1.186491
5 -0.991040 -1.161208  0.066094
6 -0.205686  0.022634  0.008687
7  1.000490 -0.618774  1.162034
8  0.147152  1.547310 -0.075777
9  0.294016  1.905852 -0.314914

In [19]:
df.values

array([-1.66839672, -2.1665175 ,  0.01919835])

In [10]:
df

          A         B         C
0  0.320933 -0.735101  0.181812
1  0.229003 -0.663658  0.780000
2  0.291508  2.061989  0.806135
3 -1.580353  0.386422  0.769097
4  0.707954 -0.768207  1.186491
5 -0.991040 -1.161208  0.066094
6 -0.205686  0.022634  0.008687
7  1.000490 -0.618774  1.162034
8  0.147152  1.547310 -0.075777
9  0.294016  1.905852 -0.314914