# Pandas
[1 Pandas Tutorial](https://blog.quantinsti.com/python-pandas-tutorial/)

In [5]:
import pandas as pd
import pandas as pd
s = pd.Series([1, 2, 3, 4, 5, 6, 7])
print(s)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64

In [6]:
s = pd.Series(['a', 'b', 'c', 'd', 'e'])
print(s)

0    a
1    b
2    c
3    d
4    e
dtype: object

In [7]:
import numpy as np
s = pd.Series(np.random.randn(5))
print(s)

0    1.531635
1   -0.533362
2    0.160488
3   -0.403567
4   -2.377786
dtype: float64

In [8]:
s.index

RangeIndex(start=0, stop=5, step=1)

In [10]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
s

a    0.336727
b    1.201569
c    0.684657
d   -1.414908
e   -1.215742
dtype: float64

In [11]:
import pandas as pd
dictionary = {'a' : 1, 'b' : 2, 'c' : 3, 'd': 4, 'e': 5}
s = pd.Series(dictionary)
print(s)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [13]:
dictionary = {'a' : 1, 'b' : 2, 'c' : 3, 'd': 4, 'e': 5}
s1 = pd.Series(dictionary)

array = [1, 2, 3, 4, 5]
s2 = pd.Series(array)
print(s1)
print(s2)

a    1
b    2
c    3
d    4
e    5
dtype: int64
0    1
1    2
2    3
3    4
4    5
dtype: int64

In [16]:
import pandas as pd
df=pd.DataFrame({'A' : np.random.randn(10), 'B' : np.random.randn(10), 'C' : np.random.randn(10)})

array([[-1.66839672, -2.1665175 ,  0.01919835],
       [ 0.90932599,  0.36405191, -0.24749009],
       [-0.9567622 ,  1.22706395,  0.11278745],
       [-1.15256062, -0.03340348,  0.88030036],
       [ 1.14610419,  0.13971313,  0.82775835],
       [-0.51229404, -1.12844833,  0.3851574 ],
       [ 0.87293174,  1.18945769,  1.61454463],
       [-1.17953295, -1.53460623,  0.64665275],
       [-1.24457579,  0.64424731,  0.53211444],
       [ 0.90704984, -0.37645361, -0.78788292]])

In [19]:
df.values

array([-1.66839672, -2.1665175 ,  0.01919835])

In [20]:
df

          A         B         C
0 -1.668397 -2.166518  0.019198
1  0.909326  0.364052 -0.247490
2 -0.956762  1.227064  0.112787
3 -1.152561 -0.033403  0.880300
4  1.146104  0.139713  0.827758
5 -0.512294 -1.128448  0.385157
6  0.872932  1.189458  1.614545
7 -1.179533 -1.534606  0.646653
8 -1.244576  0.644247  0.532114
9  0.907050 -0.376454 -0.787883